# Ignore bundler config.
/.bundle
public/masthead.png

# Ignore all logfiles and tempfiles.
/log/*
/node_modules/*
!/log/.keep
/tmp
/config/application.yml
/vendor/bundle

coverage
lastest.dump
.env
.env.production

/app/assets/builds/*
!/app/assets/builds/.keep

/config/master.key
