%div{class: "more-info mx-auto my-3 text-center padding-3 max-w-xl italic text-sm"}
  :markdown
    Looking for help? Each developer at [Hashrocket](https://hashrocket.com)
    has years of experience working with Ruby applications of all types and
    sizes. [Contact us today](https://hashrocket.com/contact-us/hire-us) and
    find out how we can help you.
