%section#post_edit(data-controller="post-preview")
  %header.page_head
  %div{class: "bg-white p-10 drop-shadow-md"}
    %h1{class: page_title_classes + " my-6"} Edit Post
    = render 'form'

  %article.post{ class: "flex align-start mb-[3vw] justify-center mt-12" }
    %section{class: "bg-white drop-shadow-md"}
      .post__content.copy{class: "p-4 md:p-14"}
        %h1{class: "text-2xl font-semibold title_preview", data: {"post-preview-target": "title"}}
          = post.title
        .content_preview(data-post-preview-target="body")
          = markdown_render post.body
        %footer.mt-4
          %p.word_count.text-right.italic
            word count:
            %span(data-post-preview-target="wordCount")
              = post.word_count
